.form-field {
  margin-bottom: 20px;

  input {
    display: block;

    &.ng-invalid.ng-touched {
      border: 1px solid #00aeff;
    }
  }

  app-input {
    &.ng-invalid.ng-touched {
      input {
        border: 1px solid #00aeff;
      }
    }
  }
}

button {
  margin-right: 10px;
}
